{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    {{ data }}
    <div>
        <img
                style="margin-top: 20px"
                class="d-block mb-4 logo"
                src="{% static 'images/logo.png' %}"
                alt=""
        />
        <p class="paragraph-center">
            Welcome to the Cattle Care Administration dashboard where you can
            view cattle records registered <br/>
            with this system
        </p>
        <p></p>
    </div>

    <!-- search box -->
    {#    <form action="#" class="searchbox_home form-width">#}
    {#        <div class="input-group input-group-lg">#}
    {#            <input#}
    {#                    type="text"#}
    {#                    class="form-control"#}
    {#                    placeholder="Type keyword"#}
    {#            />#}
    {#            <span class="input-group-btn">#}
    {#              <button#}
    {#                      class="btn btn-search b-a no-shadow primary"#}
    {#                      type="button"#}
    {#              >#}
    {#                Search#}
    {#              </button>#}
    {#            </span>#}
    {#        </div>#}
    {#    </form>#}
    <!--end of search box  -->

    <!-- cards -->
    {#    <div class="card-wrapper">#}
    {#        <p class="paragraph-center">#}
    {#            Current statistics of all the cattle registered with the system#}
    {#        </p>#}
    {#        <div class="dashboard_home_cards">#}
    {#            <div class="dashboard_home_card"></div>#}
    {##}
    {#            <div class="dashboard_home_card"></div>#}
    {##}
    {#            <div class="dashboard_home_card"></div>#}
    {#        </div>#}
    {#    </div>#}
    <!-- ending of cards -->

    <!-- Starting code of data table -->
    <div class="container p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <!-- button and search box -->
                    <div class="row d-flex">
                        <div class="col-sm-4 createSegment">
                            <a class="btn dim_button" href="{% url 'dashboard-details' %}">
                                <ion-icon name="information-circle-outline"></ion-icon>
                                Details</a
                            >
                        </div>
                        <div class="col-sm-8 add_flex">
                            <div class="form-group searchInput">
                                {#                                <label for="email">Search:</label>#}
                                {#                                <input#}
                                {#                                        type="search"#}
                                {#                                        class="form-control"#}
                                {#                                        id="filterbox"#}
                                {#                                        placeholder=" "#}
                                {#                                />#}
                            </div>
                        </div>
                    </div>
                    <!-- ending of button and search box -->

                    <div class="overflow-x">
                        <table
                                style="width: 100%"
                                id="filtertable"
                                class="table cust-datatable dataTable no-footer"
                        >
                            <thead>
                            <tr>
                                <th style="min-width: 50px">ID</th>
                                <th style="min-width: 150px">X</th>
                                <th style="min-width: 150px">Y</th>
                                <th style="min-width: 150px">Z</th>
                                <th style="min-width: 150px">Temperature</th>
                                <th style="min-width: 100px">Heart Rate</th>
                                <th style="min-width: 100px">Bellowing</th>
                                <th style="min-width: 100px">Movement</th>
                                <th style="min-width: 100px">Acetone</th>
                                <th style="min-width: 150px">Date</th>
                                {#                                <th style="min-width: 150px">Action</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for x, y, z, t, b, hr, k, m in data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ x.message }}</td>
                                    <td>{{ y.message }}</td>
                                    <td>{{ z.message }}</td>
                                    <td>{{ t.message }}</td>
                                    <td>{{ hr.message }}</td>
                                    <td>{{ b.message }}</td>
                                    <td>{{ m.message }}</td>
                                    <td>{{ k.message }}</td>
                                    {#                                <td><span class="mode mode_on">Healthy</span></td>#}
                                    <td>{{ x.timestamp|date:"SHORT_DATE_FORMAT" }}</td>

                                </tr>
                            {% endfor %}

                            {#                            <tr>#}
                            {#                                <td>1</td>#}
                            {#                                <td><span class="mode mode_done">Inactive</span></td>#}
                            {#                                <td>38</td>#}
                            {##}
                            {#                                <td>70</td>#}
                            {#                                <td><span class="mode mode_off">Fever</span></td>#}
                            {#                                <td>17-Apr-2020</td>#}
                            {##}
                            {#                                <td>#}
                            {#                                    <div class="btn-group">#}
                            {#                                        <a class="dropdown_icon">#}
                            {#                                            <i class="fa fa-pencil-square-o"></i>#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                            {#                                    <span class="actionCust">#}
                            {#                            <a href="#"><i class="fa fa-line-chart"></i></a>#}
                            {#                          </span>#}
                            {#                                    <div class="btn-group">#}
                            {#                                        <a class="dropdown_icon">#}
                            {#                                            <ion-icon#}
                            {#                                                    class="delete-icon"#}
                            {#                                                    name="trash-outline"#}
                            {#                                            ></ion-icon>#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                            {#                                </td>#}
                            {#                            </tr>#}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ending of table -->
{% endblock %}

{% block extraJs %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <!-- ion icons cdn-->
    <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}