{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <img
                    class="d-block mx-auto mb-4 logo"
                    src="{% static 'images/logo-gray.png' %}"
                    alt=""
            />
        </div>
    </div>
    <h2 class="sensors-heading">Sensors Raw Parameters </h2>
    <div class="dashboard_home_strip1">
        <div class="three-sensors1" style="text-align: center;">
            <h2 style="color: gray;margin-top: 40px">Temperature</h2>
            <ion-icon name="thermometer-outline"
                      style="color: rgb(182, 170, 36); font-size: 35px;margin-top: 10px;margin-bottom: 20px;"></ion-icon>
            <h5 style="color: rgb(65, 65, 65);">{{ temperature.message }}</h5>
        </div>
        <div class="three-sensors2" style="text-align: center;">
            <h2 style="color: gray;margin-top: 40px">Heart Rate</h2>
            <ion-icon name="pulse-outline"
                      style="color: rgb(174, 63, 63);font-size: 35px;margin-top: 10px;margin-bottom: 20px;"></ion-icon>
            <h5 style="color: rgb(65, 65, 65);">{{ bpm.message }}</h5>
        </div>
        <div class="three-sensors3" style="text-align: center;">
            <h2 style="color: gray;margin-top: 40px">Ketosis</h2>
            <ion-icon name="medkit-outline"
                      style="color: rgb(40, 93, 166);font-size: 35px;margin-top: 10px;margin-bottom: 20px;"></ion-icon>
            <h5 style="color: rgb(65, 65, 65);">{{ ketosis.message }}</h5>
        </div>
    </div>

    <div class="dashboard_home_strip2">
        <div class="three-sensors1 " style="text-align: center;">
            <h2 style="color: gray;margin-top: 40px">Feed Intake</h2>
            <ion-icon name="leaf-sharp"
                      style="color: rgb(65, 112, 48);font-size: 35px; margin-top: 10px;margin-bottom: 20px;"></ion-icon>
            <h5 style="color: rgb(65, 65, 65);">{{ mvmt.message }}</h5>
        </div>
        <div class="three-sensors2" style="text-align: center;">
            <h2 style="color: gray;margin-top: 40px">Bellowing</h2>
            <ion-icon name="mic-sharp"
                      style="color: rgb(163, 57, 164);font-size: 35px;margin-top: 10px;margin-bottom: 20px;"></ion-icon>
            <h5 style="color: rgb(65, 65, 65);">{{ bellowing.message }}</h5>
        </div>
        <div class="three-sensors3" style="text-align: center;">
            <h2 style="color: gray;margin-top: 40px">Movement</h2>
            <ion-icon name="accessibility-sharp"
                      style="color: rgb(108, 54, 77);font-size: 35px;margin-top: 10px;margin-bottom: 20px;"></ion-icon>
            <h5 style="color: rgb(65, 65, 65);">{{ mvmt.message }}</h5>
        </div>
        <!-- <div class="two-sensors"></div> -->
    </div>

    <h2 class="ann-heading">Processed data from ANN </h2>
    <div class="dashboard_home_strip3">
        <div class="first-disease">
            <h1 style="color: rgb(67, 34, 62);margin-top: 50px;margin-left:80px;font-size: 40px;">
                Health Status
            </h1>

        </div>
        {#        <div class="second-disease"></div>#}
        {#        <div class="third-disease"></div>#}
    </div>

    <h2 class="chart-heading">Variations of cattle health parameters over time</h2>
    {#  class="charts-container"  #}
    <div class="">
        <div class="chart-wraper">
            <h3 class="inchart-heading">Temperature</h3>
            <canvas id="myChart1"></canvas>
        </div>
        <div class="chart-wraper">
            <h3 class="inchart-heading">Heart Rate</h3>
            <canvas id="myChart2"></canvas>
        </div>
    </div>

    <div class="">
        <div class="chart-wraper">
            <h3 class="inchart-heading">Gas Sensor</h3>
            <canvas id="myChart3"></canvas>
        </div>
        <div class="chart-wraper">
            <h3 class="inchart-heading">Feed Intake</h3>
            <canvas id="myChart4"></canvas>
        </div>
    </div>

    <div class="">

        <div class="chart-wraper">
            <h3 class="inchart-heading">Bellowing</h3>
            <canvas id="myChart6"></canvas>
        </div>

        <div class="chart-wraper">
            <h3 class="inchart-heading">Cattle Movement</h3>
            <canvas id="myChart5"></canvas>
        </div>

    </div>

    {{ temp_data |json_script:"temp_data" }}
    {{ temp_ts |json_script:"temp_ts" }}

    {{ bpm_data |json_script:"bpm_data" }}
    {{ bpm_ts |json_script:"bpm_ts" }}

    {{ x_data |json_script:"x_data" }}
    {{ x_ts |json_script:"x_ts" }}

    {{ bellow_data |json_script:"bellow_data" }}
    {{ bellow_ts |json_script:"bellow_ts" }}

    {{ ketosis_data |json_script:"ketosis_data" }}
    {{ ketosis_ts |json_script:"ketosis_ts" }}

    {{ mvmt_data |json_script:"mvmt_data" }}
    {{ mvmt_ts |json_script:"mvmt_ts" }}

{% endblock %}

{% block extraJs %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <!-- ion icons cdn-->
    <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script>
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: 'values over time',
                backgroundColor: '#0cc2aa',
                borderColor: '#0cc2aa',
                data: [0, 10, 5, 2, 20, 30],
            }]
        };

        const temperature = {
            labels: JSON.parse(document.getElementById('temp_ts').textContent).slice(-150),
            datasets: [{
                label: 'values over time',
                backgroundColor: '#0cc2aa',
                borderColor: '#0cc2aa',
                data: JSON.parse(document.getElementById('temp_data').textContent).slice(-150),
            }]
        };

        const bpm = {
            labels: JSON.parse(document.getElementById('bpm_ts').textContent).slice(-150),
            datasets: [{
                label: 'values over time',
                backgroundColor: '#0cc2aa',
                borderColor: '#0cc2aa',
                data: JSON.parse(document.getElementById('bpm_data').textContent).slice(-150),
            }]
        };

        const ketosis = {
            labels: JSON.parse(document.getElementById('ketosis_ts').textContent).slice(-150),
            datasets: [{
                label: 'values over time',
                backgroundColor: '#0cc2aa',
                borderColor: '#0cc2aa',
                data: JSON.parse(document.getElementById('ketosis_data').textContent).slice(-150),
            }]
        };

        const mvmt = {
            labels: JSON.parse(document.getElementById('mvmt_ts').textContent).slice(-150),
            datasets: [{
                label: 'values over time',
                backgroundColor: '#0cc2aa',
                borderColor: '#0cc2aa',
                data: JSON.parse(document.getElementById('mvmt_data').textContent).slice(-150),
            }]
        };

        const bellow = {
            labels: JSON.parse(document.getElementById('bellow_ts').textContent).slice(-150),
            datasets: [{
                label: 'values over time',
                backgroundColor: '#0cc2aa',
                borderColor: '#0cc2aa',
                data: JSON.parse(document.getElementById('bellow_data').textContent).slice(-150),
            }]
        };

        const temperature_config = {
            type: 'line',
            data: temperature,
            options: {}
        };

        const bpm_config = {
            type: 'line',
            data: bpm,
            options: {}
        };

        const ketosis_config = {
            type: 'line',
            data: ketosis,
            options: {}
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const bellow_config = {
            type: 'line',
            data: bellow,
            options: {}
        };

        const mvmt_config = {
            type: 'line',
            data: mvmt,
            options: {}
        };


        const myChart1 = new Chart(
            document.getElementById('myChart1'),
            temperature_config
        );

        const myChart2 = new Chart(
            document.getElementById('myChart2'),
            bpm_config
        );

        const myChart3 = new Chart(
            document.getElementById('myChart3'),
            ketosis_config
        );

        const myChart4 = new Chart(
            document.getElementById('myChart4'),
            config
        );

        const myChart5 = new Chart(
            document.getElementById('myChart5'),
            mvmt_config
        );

        const myChart6 = new Chart(
            document.getElementById('myChart6'),
            bellow_config
        );
    </script>
{% endblock %}