{% extends 'dashboard/base.html' %}
{% load static %}

{% block extra %}
    <div class="dashboard_form">
        <div class="user_card">
            <div class="user_card_top">
                <img class="user_card_pic" src="{% static 'images/talha.jpeg' %}" alt="">
            </div>
            <div class="user_contact_info">
                <div>
                    <h5 class="user_border">NAME</h5>
                    <p class="user_border color-black">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                    <h5 class="user_border">DESIGNATION</h5>
                    <p class="user_border color-black">Director</p>
{#                    <h5 class="user_border">Total Cattles</h5>#}
{#                    <p class="user_border color-black">155</p>#}
                </div>

            </div>
            <a class="btn btn-danger btn-block user_card_button" href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>
{% endblock %}

{% block extraJs %}
    <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script>
        const x = document.getElementsByClassName('dashboard_home')
        x[0].hidden = true
        console.log("Hid")
    </script>
{% endblock %}