.main-home {
  display: flex;
  justify-content: space-evenly;
  background-color: #0c181fd8;
  color: white;
}

.dashboard_home {
  width: 82%;
  padding-left: 50px;
  padding-right: 50px;
}

.dashboard_form {
  width: 74.3%;
  margin-left: 50px;
  margin-right: 50px;
}

.center {
  margin-left: 420px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pad {
  padding-left: 8px;
}

.link,
.link:hover {
  text-decoration: none;
  color: white;
}

.add-form {
  margin-left: 225px;
}

.logo {
  width: 70px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-center {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

.footer-center {
  margin-top: 60px;
  margin-bottom: 30px;
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
}
